li{
display: inline-block;
color: darkred;
width: 90px;
float: left;

}
html{
	overscroll-behavior: none;
}
body{
	height: 100vh;
	padding: 0 2%;
	margin: 0;

}

.name{
color: darkred;
display:inline-block;
width: 10%;
}
header div{
vertical-align: center;
display:inline-block;
}
.imdev .button {
display: flex;
justify-content: center;
}
section{
justify-content: center;
}
#myvideo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;

	object-fit: cover;
	width: 100%;
	height: 100vh;
}
